@font-face {
    src: url(../fonts/San-Francisco-Pro-Display/SF-Pro-Display-Regular.otf);
    font-family: "SF-pro-Display";
    font-weight: 400;
}

@font-face {
    src: url(../fonts/San-Francisco-Pro-Display/SF-Pro-Display-Medium.otf);
    font-family: "SF-pro-Display";
    font-weight: 500;
}

@font-face {
    src: url(../fonts/San-Francisco-Pro-Display/SF-Pro-Display-Semibold.otf);
    font-family: "SF-pro-Display";
    font-weight: 600;
}

@font-face {
    src: url(../fonts/San-Francisco-Pro-Display/SF-Pro-Display-Bold.otf);
    font-family: "SF-pro-Display";
    font-weight: 700;
}
@font-face {
    src: url(../fonts/San-Francisco-Pro-Display/SF-Pro-Display-Black.otf);
    font-family: "SF-pro-Display";
    font-weight: 900;
}