.header {
    background: #475463;
    max-width: 100%;
}

.header>.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;
    
    @media(width < 992px){
        flex-direction: column;
        justify-content: unset;
    }
}

.header__box {
    display: flex;
    flex-direction: column;
    gap: 42px;
    max-width: 645px;
    width: 100%;
    padding: 88px 0 33px;
    
    @media(width < 992px){
        padding: 50px 0 ;
      gap: 10px;
      max-width: unset;
    }
    
    
    @media(width < 480px){
        padding: 30px 0 ;
        gap: 10px;
        max-width: unset;
      }
      
      @media(width < 480px){
        padding: 10px 0 ;
        gap: 10px;
        max-width: unset;
      }
      
}

.header__box-img {
    position: absolute;
    top: 0;
    right: 0;
     z-index: 3;
    max-width: 594px;
    width: 100%;
    
    @media(width < 992px){
        display: none;
    }

}

.header__title {
    font-size:clamp(36px,5vw,52px) ;
    font-weight: 700;
    color: var(--primary-color);
    width: 100%;
    letter-spacing: -1px;
    
    
    @media(width < 992px){
        text-align: center;
    }
}

.header__box-cards {
    display: flex;
    gap:clamp(30px,5vw,60px);
    padding-bottom: 30px;
    flex-wrap: wrap;
    
    @media(width < 992px){
        display: none;
    }
}

.header__box-card {
    display: flex;
    flex-direction: column;
}

.card__mb {
    font-size:clamp(24px,5vw,32px) ; 
    color: var(--btn-primary-color);
    font-weight: 700;
}

.card__txt {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 500;

}

.header__btn {
    padding: 21px 42px;
    color: var(--primary-color);
    background: var(--btn-primary-color);
    font-size: 24px;
    border-radius: 10px;
    font-weight: 500;
    max-width: 233px;
    
    @media(width < 992px){
      align-self: center;
}
}
.header__line{
    
    @media(width < 992px){
        transform: rotate(90deg);
    }
    

}