
.mobileads> .content{
    display: flex;
    gap:clamp(14px,2vw,50px);
}

.mobileads__list{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px 15px;
}

.mobileads__list2{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px 15px;
}
.mobileads__link{
    padding: 5px 0;
    display: flex;
    color: var(--title-primary-color);
    font-size:clamp(14px,2vw,25px); 
    font-weight: 500;
    transition: 0.4s;
    position: relative;
    
    &::after{
        content: "";
        width: 0;
        height: 2px;
        background: var( --btn-primary-color);
        position: absolute;
        bottom: 0;
        transition: 0.4s;
    }
    
    &:hover::after{
        width: 100%;
    }
    &:hover{
        color: var(--btn-primary-color);
    }
}

.mobileads__link2{
    display: flex;
    padding: 5px 0;
    gap: 5px;
    color: var(--title-primary-color);
    font-size:clamp(14px,2vw,25px);  
    font-weight: 500;
    transition: 0.4s;
    position: relative;
    z-index: 98;
    &::after{
        content: "";
        width: 0;
        height: 2px;
        background: var( --btn-primary-color);
        position: absolute;
        bottom: 0;
        transition: 0.4s;
    }
    
    &:hover::after{
        width: 100%;
    }
    &:hover{
        color: var(--btn-primary-color);
    }
    
    
}