.nav{
    position: sticky;
    display: block;
    padding: 18px 0;
    
    @media(width < 1024px){
       padding:16px 0 ;
       z-index: 102;
    }
}


.nav >.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.nav__list{
    display: flex;
    align-items: center;
    gap: 56px;
    
    @media(width < 1024px){
        padding: 20px 15px;
        flex-direction: column;
        align-items: unset;
        gap: 10px;
       
        
        @media(width < 480px){
            border-bottom: 2px solid #fff;
            width: 100%;
        }
        
    }
   
}

.nav__link{
    color: var(--title-primary-color);
    font-size: 16px;
    font-weight: 500px;
    transition: 0.4s;
    
    
    @media(width < 1024px){
        font-size:clamp(14px,2vw,25px); 
    }
    }

.nav__link:hover{
    color: var(  --btn-primary-color);
}

.nav__link:hover  svg path{
    fill: var(  --btn-primary-color);
}

.nav__menu-box{
    display: flex;
    gap: 56px;
    align-items: center;
    
    @media(width < 1024px){
        gap: 10px;
    }
}
.nav__menu{
    
    @media(width < 1024px){
        position: absolute;
        width: 100%;
        height: calc(100dvh - 82px);
        background: red;
        top: 82px;
        left: 0;
        display: flex;
        padding: 20px 0 20px;
        gap: 5px;
        flex-wrap: wrap;
        transform-origin: top;
        transform: scaleY(0);
        transition: 0.4s;
        z-index: 100;
    }
    
}


.nav__menu >.mobileads{
    display: none;
    
    
    @media(width < 1024px){
        display: flex;
    }
    
}

.nav__burger{
    display: none;
    
    @media(width < 1024px){
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        position: relative;
        z-index: 100;
        order: 1;
        
        &:hover {
            
        ~ .nav__menu{
            transform: scaleY(1);
        }
        
        .nav__burger-line{
            background: transparent;
        }
        
         .nav__burger-line::before{
            top: 0;
            transform: rotate(45deg);
        }
         .nav__burger-line::after{
            top: 0;
            transform: rotate(-45deg);
        }
    }  
        .nav__burger-line{
            width: 100%;
            height: 2px;
            background: var( --title-primary-color);
            position: relative;
            transition: 0.4s;
            
            &::after,
            &::before{
            content: "";
            position: absolute;
            left: 0;
            background: var( --title-primary-color);
            width: 100%;
            height: 100%;
            transition: 0.4s;
            }
            &::after{
                top: 10px;
            }
            &::before{
                top: -10px;
            }
        }
    }
}

.nav__link2 svg{
    @media(width < 1024px){
        width: 30px;
        height: 30px;
    } 
}