.news__cards{
    display: flex;
    gap: 14px;
    padding: 150px 0;
}
.news__card{
    display: flex;
    flex-direction: column;
    gap: 31px;
}
.news__card-content{
    background: var( --primary-color);
    max-width: 390px;
    padding: 40px 31px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    box-shadow: 0px 2px 2px 0px rgba(188, 188, 188, 0.25);

}
.card-item{
    display: flex;
    gap: 39.5px;
}

.news__card-content-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}

.news__card-content-title{
    font-size: 26px;
    font-weight: 600;
    color: var( --title-primary-color);
    letter-spacing: -1px;
}

.news__card-content-txt{
    font-size: 18px;
    font-weight: 400;
    color: var( --title-primary-color);
    line-height: 40px;
    max-width: 319px;
    width: 100%;
}

.news__card-content-box2{
   display: flex;
   gap: 8px; 
}
.news__card-date{
    font-size: 18px;
    font-weight: 600;
    color: var( --title-primary-color);
}

.news__card-content-box2 a{
    background:var(--body-primary-color) ;
    padding: 12px;
    border-radius: 360px;
}